<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
<div class="container mypage">
	<div class="row">
		<div class="full-width bg-transparent">
        <h1 class="text-center color">Please Select A XML File to process</h1>
        <form action="file/upload" method="post" enctype="multipart/form-data" style="text-align: center;">
          <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12">
                <div class="full-width">
                  <input type="file" name="avatar" id="base-input" class="form-control form-input form-style-base">
                  <input type="text" id="fake-input" class="form-control form-input form-style-fake" placeholder="Choose your File" readonly>
                  <span class="glyphicon glyphicon-open input-place"></span>
                </div>
          </div>
          <div class="col-lg-12 col-md-12 text-center">
              <button class="btn btn-info btn-lg custom-btn" id="submit" ><span class="glyphicon glyphicon-save"></span> Generate Health Cards</button>
          </div>
      </form>
    </div>
    </div>
	</div>
</div>

	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>

