<!DOCTYPE html>
<html>
  <head>
  <title> JSON Viewer </title>
  </head>
  <body>
    <div class="container mypage">
      <pre>
        <%= JSON.stringify(json, null, 2) %>
      </pre>
    </div>
  </body>
</html>

