/*@media print {
  div.page {
    background-image: none;
  }
}*/

@media screen{
  div.page {
    background-image: url(../images/image.png);
  }
}

@page{
    size: auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
}
textarea.field, input.field, p.field {
    position: absolute;
    border: 0 none transparent;
    background-color: transparent;
    resize: none;
}
p.field{
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    text-align: left;
    font-size: 12px;
    word-break: break-word;
}


div.page {
    height: 794px;
    position: absolute;
    outline: 0 none transparent;
    background-size: contain;
    width: 1086px;
    -webkit-print-color-adjust: exact;
   	background-repeat:no-repeat;
}

.mypage .full-width{
    float:left;width:100%;margin:30px 0;min-height:100px;position:relative;
}
.mypage .form-input.form-style-fake{position:absolute;top:0px;}
.mypage .form-style-base{position:absolute;top:0px;z-index: 999;opacity: 0;}
.mypage .imgCircle{border-radius: 50%;}
.mypage .form-input.form-control{padding: 10px 50px;}
.mypage .form-control.form-input{height:50px;border-radius: 0px;margin-top: 20px;}
.mypage .mg-auto{
    margin:0 auto;max-width: 200px;overflow: hidden;
}
.mypage .fake-styled-btn{
    background: #006cad;
    padding: 10px;
    color: #fff;
}
#main-input{width:250px;}
.mypage .glyphicon.input-place{
    position: absolute;top:35px;left: 20px;font-size:23px;color:gray;}
.mypage .margin{margin-top:10px;margin-bottom:10px;}
.mypage .truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container{
    background: url("http://lorempixel.com/800/800/nature/");
    background-repeat: no-repeat;
    background-size: cover;
}
.mypage .color{
    color:#fff;
}
.form-control::-webkit-input-placeholder {
    color:lightgray;
    font-size:18px;
}
.form-control:-moz-placeholder {
    color:lightgray;
    font-size:18px;
}
.form-control::-moz-placeholder {
    color:lightgray;
    font-size:18px;
}
.form-control:-ms-input-placeholder {
    color:lightgray;
    font-size:18px;
}
